
/* Estilos combos  */
.combos-submenu {
    clear: both;
    background: #004481;
}

.combos-filters {
    position: absolute;
    width: 100%;
    clear: both;
}

.nav-solutions {
    display: inline-block;
    padding: 1rem 0 0;
    width:98%;
    cursor: pointer;
    margin-bottom: 0;
}

.nav-solutions li {
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    width: 24.8%;
    vertical-align: top;     
    position: relative;
    z-index: 999999;
    background: transparent;
} 

.default-select {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;   
    font-family: 'Benton Sans Medium';
    line-height: 24px;
}

.default-select p {
    width: 85%;
    display: inline-block;
    vertical-align: top;
}

.default-select span {
    font-size: 1.1rem;
}

.default-select img {
    width: 2rem;
    height: 2rem;
    float: right;
}

.nav-solutions li div {
    position: relative;
    padding-right: 1rem;
    /* background: #fff; */
} 

.list-combos {    
    position: absolute !important;
    z-index: 9999999;
    width: 92%;
    background: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 5px 10px 14px #666;
    padding: 0 !important;
}

.option-combos {
    position: relative;
    padding: .6rem 1.5rem;
    border-bottom: 1px solid #bfbfbf;       
    font-family: 'Benton Sans Medium';
    font-size: 1.3rem;
    line-height: 24px;
    color: #666;
}

.option-combos:hover {
    background: #004481;
    color: #FFF;
}    

.option-combos:last-child {
    border-bottom: 0;
}

.nav-projects .list-combos {
    padding: 0 1rem !important;
}

.nav-projects .option-combos {
    padding: 1rem 0 0;
}

.nav-projects .option-combos:hover {
    background: transparent;
    color: inherit;
}  

.nav-projects .option-combos:first-child {
    padding: 1rem 0;
}

.nav-projects .option-combos div {
    padding: .5rem .5rem;
    font-size: 1rem;
}

.nav-solutions input, .nav-projects input {
    position: absolute;
    top: 0;
    display: block;
    border: 0;
    margin: 0 !important;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}
 
.leyend-projects li input{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 0;
    margin: 0 !important;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}

.leyend-projects.hdfs-projects li{
    padding: 1rem .5rem;
    font-size: 1.2rem;
}

.leyend-projects.hdfs-projects .project1:hover{
    background: #DA3851;
    color: #FFF;
}

.leyend-projects.hdfs-projects .project2:hover{
    background: #F7893B;
    color: #FFF;
}
 .leyend-projects.hdfs-projects .project3:hover{
    background: #F78BE8;
    color: #FFF;
}
.leyend-projects.hdfs-projects .project4:hover{
    background: #48AE64;
    color: #FFF;
}
.leyend-projects.hdfs-projects .project5:hover{
    background:  #F8CD51;
    color: #FFF;
}
.leyend-projects.hdfs-projects .project6:hover{
    background:  #8F7AE5;
    color: #FFF;
}

.leyend-projects li.project1 input:focus{border: 5px solid #E77D8E;}
.leyend-projects li.project2 input:focus{border: 5px solid #FAB27F;}
.leyend-projects li.project3 input:focus{border: 5px solid #FAB3F0;}
.leyend-projects li.project4 input:focus{border: 5px solid #88CA9A;}
.leyend-projects li.project5 input:focus{border: 5px solid #FADE8E;}
.leyend-projects li.project6 input:focus{border: 5px solid #B6A8EE;}

.leyend-projects .project1:hover{
    background: #E77D8E;
    color: #FFF;
}

.leyend-projects .project2:hover{
    background: #FAB27F;
    color: #FFF;
}
 .leyend-projects .project3:hover{
    background: #FAB3F0;
    color: #FFF;
}
.leyend-projects .project4:hover{
    background: #88CA9A;
    color: #FFF;
}
.leyend-projects .project5:hover{
    background:  #FADE8E;
    color: #FFF;
}
.leyend-projects .project6:hover{
    background:  #B6A8EE;
    color: #FFF;
}

.nav-solutions input:focus, .nav-projects input:focus {
    outline: 0 !important;
}

.nav-solutions input:disabled, .nav-projects input:disabled {
    cursor: no-drop;
}

.cursor-alpha {    
    cursor: no-drop;
}

.cursor-alpha .default-select {
    pointer-events: none;
}

.hide-alpha, .hide-combos {
    display: none;
}

.nav-projects {
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 1rem 0 0;
    width: 20%;
    margin-bottom: 0;
    cursor: pointer;
} 

.nav-projects li {
    position: relative;
    z-index: 999999;
    background: transparent;
}

.nav-projects li .list-combos {
    background: #fff;
}

.combos-hide {
    display: none;
}

/* Fin Estilos combos  */

/* Estilos leyenda */
.leyend-projects {
    box-sizing: border-box;
    width: 100%;
}

.leyend-projects ul {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.leyend-projects li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    width: auto;
    font-family: 'Benton Sans Medium';
    font-size: 1rem;
    padding: 0 .5rem;
    margin-bottom: 0;
}

.leyend-projects li:last-child {
    margin-right: 0;
}

/* Fin Estilos leyenda */