/************** Imports css **************/
/* Import fonts */
@import url('fonts.css');

/* Estilos menú de navegación */
@import url('header.css');

/* Estilos switch-hdf */
@import url('switch-hdfs.css');

/* Estilos combos  */
@import url('combos.css');

/* Estilos botones zoom */
@import url('diagrams.css');

/* Estilos spinner */
@import url('spinner.css');

/* Estilos footer */
@import url('footer.css');

/************** Imports css responsive **************/

/* Estilos tablet */
@import url('./tablet.css');

/* Estilos mobile */
@import url('phone.css');



body {
    font-family: 'Benton Sans' !important;
    font-size: 62.5% !important;
}

.main-data-model{
    min-height: 54rem;
}

.container {
    position: relative;    
    min-height: 5rem;
}