/* Estilos diagrama */

.container-diagrams, .container-diagramsHdfs {
    position: relative !important;
    top: 1rem;
}

#sample, #sampleHdfs {
    position: relative !important;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
}

#myOverviewDiv, #myOverviewDivHdfs {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-color: aliceblue;
    z-index: 300;
}

#myOverviewDiv canvas, #myOverviewDivHdfs canvas {
    border: 3px solid #5bbeff;
    background: #d4edfc;
}

#myDiagramDiv, #myDiagramDivHdfs {
    padding: 0;
    width: 100% !important;
    max-width: 100% !important;
    float: left;
    background: #fff;
    max-height: 70rem;
}

#myDiagramDiv canvas, #myDiagramDivHdfs canvas {
    outline: none !important;
    /* width: 100% !important; */
    max-width: 100% !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#myDiagramDiv div, #myDiagramDivHdfs div {
    overflow: hidden !important;
}

/* Fin Estilos diagrama */

/* Estilos detalle de diagrama */

.container {
    position: relative;
    clear: both;
}

.content-detail, .content-detailHdfs {
    float: right;
    margin-top: -68rem;
    width: 35%;
}

.detail-diagram, .detail-diagramHdfs {
    position: relative;
    z-index: 99999;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    box-shadow: 5px 10px 14px #666;
    padding: 0 !important;
    width: 100%;
    background: #fff;
}

.close-detail, .close-detailHdfs {
    float: right;
    cursor: pointer;
    color: #fff;
}

.detail-diagram h1, .detail-diagramHdfs h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 1.1rem 1.3rem 1.1rem 1.3rem;
    font-size: 1.3rem;
    font-weight: bold;
    background: #666666;
    border-bottom: 1px solid #bfbfbf;
    color: #fff;
}

.info-table, .info-tableHdfs {
    padding: 0 1rem;
    background: #fff;
    box-sizing: border-box;
}

.info-table ul, .info-tableHdfs ul {
    border-bottom: 1px solid #666666;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.info-table ul:last-child, .info-tableHdfs ul:last-child {
    border-bottom: none;
    /* padding-bottom: 0;
    margin-bottom: 0; */
}

.info-table li, .info-tableHdfs li {
    list-style: none;
    padding: .5rem 0 .5rem;
}

.project1 {
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    background: #8F7AE5;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.project2 {
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    background: #F7893B;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;    
}

.project3 {
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    background: #F78BE8;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.project4 { 
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;   
    background: #48AE64;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.project5 {
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    background: #F8CD51;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem; 
}

.project6 {
    padding: 1rem .5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    background: rgb(75, 78, 250);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.info-table li span, .info-tableHdfs li span {
    font-weight: bold;
}

.detail-hide, .detail-hideHdfs {
    display: none;
}

.project-data {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: .5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    padding: .5rem 0 .5rem;
    width: 30%;
    font-size: .9rem;
    font-family: "Benton Sans Medium";
}

/* Fin Estilos detalle de diagrama */

/* Estilos botones zoom */

.button-zoom {
    width: auto !important;
    position: relative !important;
}

.button-zoom .btn {
    position: fixed;
    top: 50%;
    right: 2%;
    width: auto;
    z-index: 99;
    border: 1px solid #1464A5;
}

.button-zoom .btn-expand {
    margin-top: 5rem;
}

.btn img {
    width: 2rem;
    height: 2rem;
}

/* Fin Estilos botones zoom */