/* Import fonts */
@font-face {
	font-family: 'Benton Sans';
	src: url('../fonts/BentonSansBBVA-Book.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Benton Sans Bold';
	src: url('../fonts/BentonSansBBVA-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Benton Sans Light';
	src: url('../fonts/BentonSansBBVA-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Benton Sans Italic';
	src: url('../fonts/BentonSansBBVA-BookItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Benton Sans Medium';
	src: url('../fonts/BentonSansBBVA-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Tiempos Regular';
	src: url('../fonts/TiemposTextWeb-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Tiempos Italic';
	src: url('../fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2');
	font-weight: 400;
}