/* Estilos footer */

footer { 
    float: left;
    margin-top: 10rem;
    padding: 2rem 0;
    width: 100%;
    font-family: 'Benton Sans';
    color: #fff;
    font-size: 2.5rem; 
    background-color: #072146;
}

.container-footer {
    padding: 0;
} 

/* .container-footer img{
    width: 7rem;
} */
.container-footer .platform-text {
    position: relative;
    top: .4rem;
}

.text-copy {
    color: #bdbdbd;
    font-family: "Benton Sans";
    font-size: 1.2rem;
    font-weight: 400;
}

.participants-projects {
    padding: 4rem 0 0;
    width: 100%;
}

.participants-projects ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.participants-projects li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 23%;
}

.participants-projects li:last-child .name-participants {
    padding-right: 0;
}

.name-participants {
    box-sizing: border-box;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: #5bbeff;
    font-family: 'Benton Sans';
}

.name-participants .title-projects {
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Benton Sans Medium';
}

.name-participants p {
    font-size: 1.1rem;
}

.logo_footer {
    width: 10%;
}
/* Fin Estilos footer */