/* Estilos menú de navegación */
  
header {
    float: left;
    width: 100%;
    font-family: 'Benton Sans';
    background-color: #072146;
}

.top-nav {
    clear: both;
    padding-top: 1rem;
}

.search, .searchHdfs {
    position: relative;
    top: 1rem;
    float: right;
    margin: 0;
    width: 30%;
    height: 35px;  
}
  
.search .submit, .searchHdfs .submitHdfs {
   float: right;
}

.search-icon, .search-iconHdfs {
    position: relative;
    top: 4px;
    border: 0;
    box-shadow: none;
    width: 3.2rem;
    height: 2.5rem;
    float: right;
    background: url('../../images/search_icon.svg') no-repeat top left transparent;
    text-indent: -99px;
    cursor: pointer;
}

.icon-search-submit, .icon-search-submitHdfs {
    position: absolute;
    top: 4px;
    right: 7px;
    border: 0;
    box-shadow: none;
    padding: 0 !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    background: url('../../images/search_icon.svg') no-repeat top left transparent !important;
    text-indent: -99px;
}

.close-search, .close-searchHdfs {
    position: absolute;
    top: 7px;
    right: 0;
    border: 0;
    box-shadow: none;
    width: 2.5rem;
    height: 2.5rem;
    background: url('../../images/close_search.svg') no-repeat top left transparent;
    cursor: pointer;
}

.search .search-diagram, .searchHdfs .search-diagramHdfs {
    display: none;
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    color: #004283;
}

.search .reset, .searchHdfs .resetHdfs {
    display: none;
    position: absolute;
    right: -32px;
    top: -3px;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}
  
.search .showOpen, .searchHdfs .showOpen {
    color: #000;
}

.search input, .searchHdfs input {
    width: 60px;
    cursor: pointer;
    height: 35px;
    outline: none;
    padding: 0 30px 0 50%;
    font-size: 1.5rem;
    line-height: 35px;
    color: transparent;
    border-radius: 3px;
    background: transparent;
    border: transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 0;
}

.hide-search {
    display: none;
}
  
.search .showInput, .searchHdfs .showInput {
    width: 100%;
    background: #004481;
    cursor: text;
    color: #f4f4f4;
    padding-left: 1.25rem;
}

.data-model-search, .hdfs-search {
    display: none;
}

.ppal-menu {
    padding: 0 1.5rem;
}

.menu-nav {
    clear: both;
}

.logo {
    width: 100%;
    padding: 1.5rem 0px 3rem;
    color: #fff;
}
  
.logo img {
    position: relative;
    width: 10%;
    top: -.7rem;
}
  
.items-navigation {
    float: right;
}

.show-form {
    display: none;
}

.platform-text {
    /*position: relative;*/
    /*top: .4rem;*/
    /*display: inline-block;*/
    width: auto;
    /*color: white;*/
    /*border-left: 1px solid white;*/
    font-family: "Benton Sans Light";
    /*font-size: 3rem;*/
    line-height: 1.4;
    margin: 0 0 0 .5em;
    padding: 0 0 0 .5em;
    box-sizing: border-box;
}
.platform-text {
    padding-left: 74px;
    font-size: 13px !important; /*13px*/
    position: absolute;
    color: #5BBEFF;
}
.platform-text-header {
    top: 90px !important;
}

.platform-text-footer {
    top: 0px !important;
}

/* Fin Estilos menú de navegación */