



/* Estilos responsive */

@media(max-width: 768px) {
    .container-footer {
        padding-left: 15px !important;
        padding-right: 15px !important;
    } 

    .container {
        width: 100% !important;
    }
}
  
@media (max-width: 500px) {
    .search {
        top: 0;
    }      
}

/* Fin Estilos responsive */