.switch-hdfs {
    box-sizing: border-box;
    position: relative; 
    top: .5rem;
    float: right;
    width: 11.5rem;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.name-view {
    line-height: 41px;
    font-size: 1.2rem; 
    color: #f4f4f4; 
    padding-left: 4rem;
    font-family: "Benton Sans Medium";
}

.active .name-view{
    padding-left: 2rem;
}

.toggle-btn {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  /* margin: 10px; */
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background:  #49A5E6;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor:pointer;
}

.active {
  background:  #1464A5; 
}

.active .round-btn{
  left: 81px;
}

.round-btn {
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
.cb-value{
  position: absolute;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor:pointer;
}