/* Estilos responsive */
  
@media (max-width: 1024px) {
    .default-select {
        line-height: 18px;
    }
    .default-select p {
        width: 85%; 
    }
    .default-select span {
        font-size: 1.1rem;
    }
    .col-xs-5 {
        width: 50%;
    }
    .col-xs-7 {
        width: 50%;
        float: right;
    }

    .container {
        width: 100% !important;
    }
}
  
@media (max-width: 860px) {
    .navbar-nav {
        margin: 0;
    }
  
    header .col-xs-5,
    header .col-xs-7 {
        width: 100%;
    }
  
    .burger-icon {
        padding: 2.5rem 0 0 !important;
    }

    .logo {
        float: none !important;
        padding: 2rem 3.5rem !important;
    }
    .search {
        top: 0;
        margin-bottom: 1rem;
    }
}

/* Fin Estilos responsive */