<template>
  <footer>
    <div class="container container-footer">
      <section class="container-logo">
        <img src="../images/LOGO-BBVA-BLANCO.svg" alt="BBVA Digital Workplace" class="logo_footer" />
        <h1 class="platform-text platform-text-footer">Clients Data Model</h1>
      </section>
      <section class="participants-projects">
        <ul>
          <li>
            <div class="name-participants">
              <p class="title-projects">Global Hub</p>
              <p>Community leader | Daniel Santos</p>
              <p>Rodrigo Escudero</p>
              <p>Ángel del Saz</p>
            </div>
            <div class="name-participants">
              <p class="title-projects">Projects</p>
              <p>Client Acquisition | Luis Miguel Caballero</p>
            </div>
          </li>
          <li>
            <div class="name-participants">
              <p class="title-projects">DWP Global Desktop</p>
              <p>Fernando Martin</p>
              <p>Jose Victor Encinas</p>
            </div>
            <div class="name-participants">
              <p class="title-projects">DWP Perú</p>
              <p>Ángel Palomino</p>
            </div>
          </li>
          <li>
            <div class="name-participants">
              <p class="title-projects">One View</p>
              <p>Jose Ignacio Núñez Diaz</p>
            </div>
            <div class="name-participants">
              <p class="title-projects">Core Banking System architect</p>
              <p>Javier de la Vega Rodriguez</p>
            </div>
            <div class="name-participants">
              <p class="title-projects">Data Architect</p>
              <p>Sara Rodriguez</p>
              <p>Mónica Ramirez</p>
            </div>
          </li>
          <li>
            <div class="name-participants">
              <p class="title-projects">Global Solution architect</p>
              <p>Alberto González Quirós</p>
              <p>Lourdes Patiño</p>
              <p>María García Vicente</p>
            </div>
            <div class="name-participants">
              <p class="title-projects">Data governance</p>
              <p>Mónica Mayorga</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="container-copy">
        <p class="text-copy">© 2019 BBVA </p>
      </section>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'containFooter'
}
</script>

