<template>
  <div>
    <spinner :loading="!(showReference && showDataModel)"></spinner>
    <!--<div class="container-spinner">
      <div class="spinner"></div>
    </div>-->
    <header>
      <div class="container ppal-menu">
        <div class="top-nav">
          <search></search>

          <!--<div class="searchHdfs search-hdfs hdfs-search">
            <div class="input-searchsHdfs hide-search">
              <input type="text" id="mySearchHdfs" onkeypress="searchDiagramHdfs()" placeholder="Search" />
            </div>
            <span class="submitHdfs">
              <span class="search-iconHdfs"></span>
            </span>
            <span class="search-diagramHdfs" onclick="searchDiagramHdfs()">
              <input type="submitHdfs" class="icon-search-submitHdfs" onclick="searchDiagramHdfs()">
            </span>
          </div>-->
        </div>
        <div class="menu-nav">
          <div class="logo">
            <a href="index.html">
              <img src="../images/LOGO-BBVA-BLANCO.svg" class="logo-bbva" alt="BBVA Digital Workplace">
              <h1 class="platform-text platform-text-header">Clients Data Model</h1>
            </a>
            <switch-due></switch-due>
          </div>
        </div>
      </div>
    </header>
    <div class="combos-submenu"></div>
    <div class="leyend-projects data-model-projects">
      <div class="container">
        <ul>
          <elem-project nameTag="projects" classLi="project1" valueInput="1" textLi="A - DWP Global Desktop"></elem-project>
          <elem-project nameTag="projects" classLi="project2" valueInput="2" textLi="B - DWP Perú"></elem-project>
          <elem-project nameTag="projects" classLi="project3" valueInput="3" textLi="C - DWP Colombia"></elem-project>
          <elem-project nameTag="projects" classLi="project4" valueInput="4" textLi="D - DWP Carterización"></elem-project>
          <elem-project nameTag="projects" classLi="project5" valueInput="5" textLi="E - DWP Arce"></elem-project>
          <elem-project nameTag="projects" classLi="project6" valueInput="6" textLi="F - DWP Swift"></elem-project>
        </ul>
      </div>
    </div>
    <div class="leyend-projects hdfs-projects hide-combos">
      <div class="container">
        <ul>
          <elem-project nameTag="projectsHDFS" classLi="project1" valueInput="1" textLi="A - DWP Global Desktop"></elem-project>
          <elem-project nameTag="projectsHDFS" classLi="project2" valueInput="2" textLi="B - DWP Perú"></elem-project>
          <elem-project nameTag="projectsHDFS" classLi="project3" valueInput="3" textLi="C - DWP Colombia"></elem-project>
          <elem-project nameTag="projectsHDFS" classLi="project4" valueInput="4" textLi="D - DWP Carterización"></elem-project>
          <elem-project nameTag="projectsHDFS" classLi="project5" valueInput="5" textLi="E - DWP Arce"></elem-project>
          <elem-project nameTag="projectsHDFS" classLi="project6" valueInput="6" textLi="F - DWP Swift"></elem-project>
        </ul>
      </div>
    </div> 
    <div class="main-data-model" v-if="showReference && showDataModel">
      <div class="container">
        <diagram-go :showDiagram="showReference && showDataModel" :nodeDataArray="nodeDataArrayAux" :linkDataArray="linkDataArray"></diagram-go>
      </div>
    </div>
    <contain-footer></contain-footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Spinner from '@/components/Spinner';
import SwitchDue from '@/components/SwitchDue';
import Search from '@/components/Search';
import ContainFooter from '@/views/ContainFooter';
import ServiceVue from '@/services/serviceVue';
import DiagramGo from '@/components/DiagramGo';
import ElemProject from '@/components/ElemProject';

export default {
  name: 'home',
  data: () => ({
    loading: false,
    nodeDataArray: [],
    nodeDataArrayAux: [],
    linkDataArray: [],
    showReference: false,
    showDataModel: false,
  }),
  created() {    
    this.serviceDataModelAlpha();
    this.serviceReferences();    
  },
  methods: {
    serviceDataModelAlpha() {
      const self = this;
      this.showDataModel = false;
      const params = {
        replace: true,
        arrReplace: [{ solution1: 0 }, { alpha2: 0 }, { alpha3: 0 }, { alpha4: 0 }],
      };
      ServiceVue.wrapper(this.$http, 'datamodelalpha', params).then((response) => {
        if(response && response.data && response.data.length) {
          // create the model for the E-R diagram
          let count = -1;
          response.data.map((data) => {
            if (!self.nodeDataArray[data.table_name]) {
              count++;
              self.nodeDataArray[data.table_name] = {};
              self.nodeDataArrayAux[count] = {};
              self.nodeDataArrayAux[count].key = data.table_name.toUpperCase();
              self.nodeDataArrayAux[count].items = [];
            }
            self.nodeDataArrayAux[count].items.push(
            {
                name: data.field_name.toUpperCase(),
                dataType: data.data_type,
                comment: data.comment,
                //isKey: data.isKey,
                Project1: data.project1 === '1' ? 'A' : '',
                Project2: data.project2 === '1' ? 'B' : '',
                Project3: data.project3 === '1' ? 'C' : '',
                Project4: data.project4 === '1' ? 'D' : '',
                Project5: data.project5 === '1' ? 'E' : '',
                Project6: data.project6 === '1' ? 'F' : '',
            });
          });
          self.showDataModel = true;
          console.log('Arr',self.nodeDataArray);
          console.log('Aux', self.nodeDataArrayAux)
        }
      }).catch(() => {

      });          
    },
    serviceReferences() {
      const self = this;
      this.showReference = false;
      const params = {};
      ServiceVue.wrapper(this.$http, 'datamodelreferences', params).then((response) => {
        if(response && response.data && response.data.length) {
          response.data.map(function (data) {        
            self.linkDataArray.push({
                from: data.parent_table.toUpperCase(),
                to: data.child_table.toUpperCase(),
                text: data.cardinality
            });
          });
          self.showReference = true;
          console.log('Link', self.linkDataArray)
        }
      }).catch(() => {

      });          
    },
  },
  components: {
    Spinner,
    SwitchDue,
    Search,
    ContainFooter,
    DiagramGo,
    ElemProject
  }
}
</script>
