<template>
  <div class="diagram-go" v-if="showDiagram">
    <h3>Diagrama</h3>
    <diagram :options="optionsDiagram" :modelData="modelData" @model-changed="modelChanged" @changed-selection="changedSelection"></diagram>
    <!--<button style="margin-top:8px; margin-right: 10px;" :disabled="boolDiagram" class="btn btn-success" type="button" @click="addLink()">Añadir enlace</button>
    <button style="margin-top:8px; margin-right: 10px;" class="btn btn-success" type="button" @click="addElement()">Añadir elemento</button>
    <button style="margin-top:8px; margin-right: 10px;" class="btn btn-success" type="button" @click="changeModel()">Cambiar modelo</button>-->
  </div>
</template>

<script>
/* eslint-disable */
  /* ============
   * Card Component
   * ============
   *
   * A basic card component.
   *
   * Gives an idea how components work.
   */

  export default {
    /**
     * The name of the component.
     */
    name: 'diagram-go',

    data() {
      return {
        //boolDiagram: false,
        modelData: {},
        optionsDiagram: {},
      };
    },
    props: {
       nodeDataArray: { type: Array },
       linkDataArray: { type: Array },
       showDiagram: { type: Boolean },
    },

    created() {
      const _this = this;
      // debugger;
      this.optionsDiagram = {};

      this.modelData = {  // passed to <diagram> as its modelData
        nodeDataArray: this.nodeDataArray,
        linkDataArray: this.linkDataArray
      };
            
    },
    methods: {
      /*showDetailDiagram (){},
      setOptions() {
        let $ = this.$go.GraphObject.make; // for conciseness in defining templates 

        // The "simple" template just shows the key string and the color in the background.
        let simpletemplate =
          $(this.$go.Node, 'Auto',
            { click: this.showDetailDiagram },
            $(this.$go.Panel, 'Auto',
              $(this.$go.Shape, 'Rectangle',
                {
                  stroke: 'transparent', strokeWidth: 0, cursor: 'pointer', background: '#1973b8',
                },
                new this.$go.Binding('fill', 'isHighlighted', function (h) { return h ? '#f35e61' : '#1973b8'; }).ofObject(),
                new this.$go.Binding('fill', 'isSelected', function (sel) {
                  return sel ? '#f35e61' : '#1973b8';
                }).ofObject()),
              $(this.$go.TextBlock,
                {
                  margin: new this.$go.Margin(15, 25, 15, 15),
                  stroke: '#fff',
                  font: '14px "Benton Sans Bold"'
                },
                new this.$go.Binding('text', 'key'))
            )
          );

        // the template for each attribute in a node's array of item data
        const itemTempl =
          $(this.$go.Panel, 'Table',
              {
                  alignment: this.$go.Spot.Left,
                  defaultAlignment: this.$go.Spot.Left
              },
              $(this.$go.RowColumnDefinition, { column: 0, width: 250 }),
              $(this.$go.RowColumnDefinition, { column: 1, width: 120 }),
              $(this.$go.RowColumnDefinition, { column: 2, width: 20 }),
              $(this.$go.RowColumnDefinition, { column: 3, width: 20 }),
              $(this.$go.RowColumnDefinition, { column: 4, width: 20 }),
              $(this.$go.RowColumnDefinition, { column: 5, width: 20 }),
              $(this.$go.RowColumnDefinition, { column: 6, width: 20 }),
              $(this.$go.RowColumnDefinition, { column: 7, width: 20 }),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 0,
                      textAlign: 'left',
                      stroke: '#121212',
                      font: '14px "Benton Sans Bold"',
                      // minSize: new this.$go.Size(350, 10),
                      width: 230,
                      wrap: this.$go.TextBlock.WrapFit,
                      margin: new this.$go.Margin(5, 5, 5, 5),
                  },
                  new this.$go.Binding('text', 'name')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 1,
                      textAlign: 'left',
                      stroke: '#121212',
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(120, 10),
                      font: '14px "Benton Sans"'
                  },
                  new this.$go.Binding('text', 'dataType')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 2,
                      textAlign: 'left',
                      stroke: '#8F7AE5', // BBVA PURPLE #DA3851
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project1')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 3,
                      textAlign: 'left',
                      stroke: '#F7893B', // BBVA ORANGE #F7893B
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project2')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 4,
                      textAlign: 'left',
                      stroke: '#F78BE8', // BBVA PINK #F78BE8
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project3')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 5,
                      textAlign: 'left',
                      stroke: '#48AE64', // BBVA GREEN #48AE64
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project4')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 6,
                      textAlign: 'left',
                      stroke: '#F8CD51', // BBVA YELLOW #F8CD51
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project5')),
              $(this.$go.TextBlock,
                  {
                      row: 1, column: 7,
                      textAlign: 'left',
                      stroke: '#4b4efa', // BBVA BLUE #4b4efa
                      margin: new this.$go.Margin(5, 5, 5, 5),
                      // minSize: new this.$go.Size(5, 10),
                      font: '14px "Benton Sans Bold"'
                  },
                  new this.$go.Binding('text', 'Project6'))
          );


      // define the Node template, representing an entity
      let detailtemplate =
          $(this.$go.Node, 'Auto', // the whole node panel
              { click: showDetailDiagram },
              new this.$go.Binding('location', 'loc', this.$go.Point.parse).makeTwoWay(this.$go.Point.stringify),
              // whenever the PanelExpanderButton changes the visible property of the 'LIST' panel,
              // clear out any desiredSize set by the ResizingTool.
              // new this.$go.Binding('desiredSize', 'visible', function (v) { return new this.$go.Size(NaN, NaN); }).ofObject('LIST'),
              // define the node's outer shape, which will surround the Table
              $(this.$go.Shape, 'Rectangle',
                  {
                      stroke: 'isHighlighted', strokeWidth: 1, cursor: 'pointer', fill: 'isHighlighted',
                      row: 0, column: 3,
                  },
                  new this.$go.Binding('fill', 'isHighlighted', function (h) { return h ? '#f35e61' : '#1973b8'; }).ofObject(),
                  new this.$go.Binding('fill', 'isSelected', function (sel) {
                      if (sel) return '#f35e61'; else return '#1973b8';
                  }).ofObject('')),
              $(this.$go.Panel, 'Table',
                  {
                      margin: 4,
                      cursor: 'pointer',
                      background: 'transparent'
                  },
                  $(this.$go.RowColumnDefinition, { row: 0, sizing: this.$go.RowColumnDefinition.None }),
                  // the table header
                  $(this.$go.TextBlock,
                      {
                          row: 0,
                          stroke: '#fff',
                          margin: new this.$go.Margin(8, 8, 8, 8), // leave room for Button
                          font: '18px "Benton Sans Bold"',
                          background: 'isHighlighted'
                      },
                      new this.$go.Binding('text', 'key'),
                  ),
                  // the collapse/expand button
                  // $('PanelExpanderButton', 'LIST', // the name of the element whose visibility this button toggles
                  //     { row: 0, alignment: this.$go.Spot.Right, cursor: 'pointer' }),
                  // the list of Panels, each showing an attribute
                  $(this.$go.Panel, 'Vertical',
                      {
                          // name: 'LIST',
                          row: 1,
                          padding: 3,
                          alignment: this.$go.Spot.Left,
                          defaultAlignment: this.$go.Spot.Left,
                          stretch: this.$go.GraphObject.Horizontal,
                          itemTemplate: itemTempl,
                          background: '#fff'
                      },
                      new this.$go.Binding('itemArray', 'items'))
              ) // end Table Panel
          ); // end Node

      // define the Link template, representing a relationship
      myDiagram.linkTemplate =
          $(this.$go.Link, // the whole link panel
              {
                  selectionAdorned: true,
                  layerName: 'Foreground',
                  reshapable: true,
                  routing: this.$go.Link.AvoidsNodes,
                  corner: 5,
                  curve: this.$go.Link.JumpOver
              },
              $(this.$go.Shape, // the link shape
                  { stroke: '#072146', strokeWidth: 2.5 }),
              $(this.$go.TextBlock, // the 'from' label
                  {
                      textAlign: 'center',
                      font: '14px "Benton Sans Bold"',
                      stroke: '#043263',
                      segmentIndex: 0,
                      segmentOffset: new this.$go.Point(NaN, NaN),
                      segmentOrientation: this.$go.Link.OrientUpright
                  },
                  new this.$go.Binding('text', 'text')),
              $(this.$go.TextBlock, // the 'to' label
                  {
                      textAlign: 'center',
                      font: '14px "Benton Sans Bold"',
                      stroke: '#043263',
                      segmentIndex: -1,
                      segmentOffset: new this.$go.Point(NaN, NaN),
                      segmentOrientation: this.$go.Link.OrientUpright
                  },
                  new this.$go.Binding('text', 'toText'))
          );
      myDiagram.addDiagramListener('ViewportBoundsChanged',
        function (e) {
            // myDiagram.nodeTemplate = detailtemplate;
            if (myDiagram.scale < 0.7) {
                myDiagram.nodeTemplate = simpletemplate;
            } else {
                myDiagram.nodeTemplate = detailtemplate;
            }
        });
        // Overview
        myOverview =
            $(go.Overview, 'myOverviewDiv', // the  DIV element for the Overview
                { observed: myDiagram, contentAlignment: go.Spot.Center }); // tell it which Diagram to show and pan
      },*/
      changedSelection() {

      },
      modelChanged() {

      },
      /*addLink: function () {
        if(!this.boolDiagram) {
          this.modelData.linkDataArray.push({ from: 2, to: 4 })
          this.boolDiagram = !this.boolDiagram
        }
      },
      addElement() {
        const idx = this.modelData.nodeDataArray.length + 1
        let modelData = this.modelData
        modelData.nodeDataArray.push({ key: idx, text: this.getRandomText(), color: this.getRandomColor() })
        modelData.linkDataArray.push({ from: 1, to: idx })
        this.modelData = modelData
      },
      changeModel() {
        this.modelData = {  // passed to <diagram> as its modelData
          nodeDataArray: [
            { key: 1, text: "Homo erectus", color: "lightblue" },
            { key: 2, text: "Homo habilis", color: "orange" },
            { key: 3, text: "Hominido", color: "lightgreen" },
            { key: 4, text: "Austrolopitecus", color: "pink" },
          ],
          linkDataArray: [
            { from: 1, to: 2 },
            { from: 2, to: 3 },
            { from: 3, to: 4 },
          ]
        };
      },
      
      getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      },
      getRandomText() {
        var numbers = '0123456789';
        var text = 'Node-';
        for (var i = 0; i < 3; i++) {
          text += numbers[Math.floor(Math.random() * 10)];
        }
        return text;
      }*/
    }

    /**
     * The properties that the component accepts.
     */
  };
</script>


<style>
.diagram-go {
  min-height: 1200px;
}
.diagram-go canvas {
  height: 1200px !important;
}

.diagram-go > div {
  height: 1200px;
}
</style>