<template>
  <li :class="classLi">
    <div :class="classLi">
      <input :value="valueInput" :name="nameTag" type="radio">{{ textLi }}
    </div>
  </li>
</template>
<script>
export default {
  name: 'ElemProject',
  props: {
    nameTag: { type: String, required: true },
    classLi: { type: String, required: true },
    valueInput: { type: String, required: true },
    textLi: { type: String, required: true },
  }
}
</script>