<template>
  <div class="hello">
    <!--<spinner :loading="loading"></spinner>-->
    <div class="container-spinner">
      <div class="spinner"></div>
    </div>
    <header>
      <div class="container ppal-menu">
        <div class="top-nav">
          <div class="search search-data">
            <div class="input-searchs hide-search">
              <input type="text" id="mySearch" onkeypress="searchDiagram()" placeholder="Search" />
            </div>
            <span class="submit">
              <span class="search-icon"></span>
            </span>
            <span class="search-diagram" onclick="searchDiagram()">
              <input type="submit" class="icon-search-submit" onclick="searchDiagram()">
            </span>
          </div>

          <div class="searchHdfs search-hdfs hdfs-search">
            <div class="input-searchsHdfs hide-search">
              <input type="text" id="mySearchHdfs" onkeypress="searchDiagramHdfs()" placeholder="Search" />
            </div>
            <span class="submitHdfs">
              <span class="search-iconHdfs"></span>
            </span>
            <span class="search-diagramHdfs" onclick="searchDiagramHdfs()">
              <input type="submitHdfs" class="icon-search-submitHdfs" onclick="searchDiagramHdfs()">
            </span>
          </div>
        </div>
        <div class="menu-nav">
          <div class="logo">
            <a href="index.html">
              <img src="/assets/images/LOGO-BBVA-BLANCO.svg" class="logo-bbva" alt="BBVA Digital Workplace">
              <h1 class="platform-text platform-text-header">Clients Data Model</h1>
            </a>
            <div class="switch-hdfs">
              <div class="toggle-btn">
                <span class="name-view">Data Model</span>
                <input type="checkbox" checked class="cb-value" />
                <span class="round-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="combos-submenu"></div>
    <div class="leyend-projects data-model-projects">
      <div class="container">
        <ul>
          <li class="project1"><div class="project1"><input value="1" name="projects" type="radio">A - DWP Global Desktop</div></li>
          <li class="project2"><div class="project2"><input value="2" name="projects" type="radio">B - DWP Perú</div></li>
          <li class="project3"><div class="project3"><input value="3" name="projects" type="radio">C - DWP Colombia</div></li>
          <li class="project4"><div class="project4"><input value="4" name="projects" type="radio">D - DWP Carterización</div></li>
          <li class="project5"><div class="project5"><input value="5" name="projects" type="radio">E - DWP Arce</div></li>
          <li class="project6"><div class="project6"><input value="6" name="projects" type="radio">F - DWP Swift</div></li>
        </ul>
      </div>
    </div>
    <div class="leyend-projects hdfs-projects hide-combos">
      <div class="container">
        <ul>
          <li class="project1"><div class="project1"><input value="1" name="projectsHDFS" type="radio">A - DWP Global Desktop</div></li>
          <li class="project2"><div class="project2"><input value="2" name="projectsHDFS" type="radio">B - DWP Perú</div></li>
          <li class="project3"><div class="project3"><input value="3" name="projectsHDFS" type="radio">C - DWP Colombia</div></li>
          <li class="project4"><div class="project4"><input value="4" name="projectsHDFS" type="radio">D - DWP Carterización</div></li>
          <li class="project5"><div class="project5"><input value="5" name="projectsHDFS" type="radio">E - DWP Arce</div></li>
          <li class="project6"><div class="project6"><input value="6" name="projectsHDFS" type="radio">F - DWP Swift</div></li>
          
        </ul>
      </div>
    </div> 
    <div class="main-data-model">
      <div class="container">
      </div>
    </div>
    <footer>
      <div class="container container-footer">
        <section class="container-logo">
          <img src="assets/images/LOGO-BBVA-BLANCO.svg" alt="BBVA Digital Workplace" class="logo_footer" />
          <h1 class="platform-text platform-text-footer">Clients Data Model</h1>
        </section>
        <section class="participants-projects">
          <ul>
            <li>
              <div class="name-participants">
                <p class="title-projects">Global Hub</p>
                <p>Community leader | Daniel Santos</p>
                <p>Rodrigo Escudero</p>
                <p>Ángel del Saz</p>
              </div>
              <div class="name-participants">
                <p class="title-projects">Projects</p>
                <p>Client Acquisition | Luis Miguel Caballero</p>
              </div>
            </li>
            <li>
              <div class="name-participants">
                <p class="title-projects">DWP Global Desktop</p>
                <p>Fernando Martin</p>
                <p>Jose Victor Encinas</p>
              </div>
              <div class="name-participants">
                <p class="title-projects">DWP Perú</p>
                <p>Ángel Palomino</p>
              </div>
            </li>
            <li>
              <div class="name-participants">
                <p class="title-projects">One View</p>
                <p>Jose Ignacio Núñez Diaz</p>
              </div>
              <div class="name-participants">
                <p class="title-projects">Core Banking System architect</p>
                <p>Javier de la Vega Rodriguez</p>
              </div>
              <div class="name-participants">
                <p class="title-projects">Data Architect</p>
                <p>Sara Rodriguez</p>
                <p>Mónica Ramirez</p>
              </div>
            </li>
            <li>
              <div class="name-participants">
                <p class="title-projects">Global Solution architect</p>
                <p>Alberto González Quirós</p>
                <p>Lourdes Patiño</p>
                <p>María García Vicente</p>
              </div>
              <div class="name-participants">
                <p class="title-projects">Data governance</p>
                <p>Mónica Mayorga</p>
              </div>
            </li>
          </ul>
        </section>
        <section class="container-copy">
          <p class="text-copy">© 2018 BBVA </p>
        </section>
      </div>
    </footer>
  </div>
</template>

<script>
//import '@/components/litElement/Spinner.js';

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({ loading: true }),
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
