<template>
  <div class="search search-data">
    <div class="input-searchs">
      <input type="text" id="mySearch" v-model="searchText" @keypress="searchDiagram()" placeholder="Search" class="showInput" />
    </div>
    <!--<span class="submit">
      <span class="search-icon"></span>
    </span>-->
    <span class="search-diagram" style="display: block;">
      <input type="submit" class="icon-search-submit">
    </span>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data() {
    return {
      searchText: ''
    }
  },
  methods: {
    searchDiagram() {

    }
  }
}
</script>

