<template>
  <div v-if="loading" class="container-spinner">
    <div class="spinner"></div>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
  props: {
    loading: { type: Boolean }
  }
}
</script>

