<template>
  <div class="switch-hdfs">
    <div class="toggle-btn" @click="changeCheck()" :class="{'hdfs-view':checked,'active':checked}">
      <span class="name-view">{{data[Number(checked)]}}</span>
      <input type="checkbox" checked class="cb-value" />
      <span class="round-btn"></span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SwitchDue',
  data() {
    return {
      checked: false,
      data: ['Data Model', 'HDFS'] // Podria ser un parametro de entrada
    }
  },
  methods: {
    changeCheck() {
      this.checked=!this.checked;
      //Evento de cambio de valor hacía padre
    }
  }
}
</script>

